<section class="cashback">
  <div class="container cashback__container">
    <div class="cashback__wrapper">
      <h2 class="cashback__title">
        Корпорация «Aunite Group» — это один из крупнейших кэшбэк&#8209;сервисов в России и СНГ.
      </h2>
      <div class="cashback__info">
        <p class="cashback__descr">
          Сегодня любому пользователю или партнеру Корпорации доступны:
        </p>
        <ul class="cashback__list">
          <li class="cashback__item">-&nbsp;Кэшбэк в 800+ интернет-магазинах;</li>
          <li class="cashback__item">-&nbsp;Скидки в 9000+ компаниях по всей России;</li>
          <li class="cashback__item">-&nbsp;Оплата товаров и услуг из личного кабинета;</li>
          <li class="cashback__item">-&nbsp;Уникальная 9-уровневая партнерская программа.</li>
        </ul>
      </div>
    </div>
    <div class="cashback__box">
      <iframe class="cashback__video" src="https://www.youtube-nocookie.com/embed/PM0kra8-SNY?controls=0"
        title="YouTube video player"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
      <div class="cashback__decor">
        <div class="cashback__circle"></div>
        <div class="cashback__img"></div>
      </div>
    </div>
  </div>
</section>
